<p id="notice"><%= notice %></p>

<h1>Beneficiarios</h1>

<table>
  <thead>
    <tr>
      <th>Tipo cedula</th>
      <th>Cedula</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Sexo</th>
      <th>Fecha de nacimiento</th>
      <th>Oficio</th>
      <th>Estado civil</th>
      <th>Tipo de casa</th>
      <th>Num habitaciones</th>
      <th>Num banos</th>
      <th>Enseres</th>
      <th>Obs enseres</th>
      <th>Discapacidad</th>
      <th>Obs discapacidad</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @beneficiarios.each do |beneficiario| %>
      <tr>
        <td><%= beneficiario.tipo_cedula %></td>
        <td><%= beneficiario.cedula %></td>
        <td><%= beneficiario.nombres %></td>
        <td><%= beneficiario.apellidos %></td>
        <td><%= beneficiario.sexo %></td>
        <td><%= beneficiario.fecha_de_nacimiento %></td>
        <td><%= beneficiario.oficio %></td>
        <td><%= beneficiario.estado_civil %></td>
        <td><%= beneficiario.tipo_de_casa %></td>
        <td><%= beneficiario.num_habitaciones %></td>
        <td><%= beneficiario.num_banos %></td>
        <td><%= beneficiario.enseres %></td>
        <td><%= beneficiario.obs_enseres %></td>
        <td><%= beneficiario.discapacidad %></td>
        <td><%= beneficiario.obs_discapacidad %></td>
        <td><%= link_to 'Show', solicitante_beneficiarios_path(beneficiario, beneficiario) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
