<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo cedula:</strong>
  <%= @beneficiario.tipo_cedula %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @beneficiario.cedula %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @beneficiario.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @beneficiario.apellidos %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @beneficiario.sexo %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @beneficiario.fecha_de_nacimiento %>
</p>

<p>
  <strong>Oficio:</strong>
  <%= @beneficiario.oficio %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @beneficiario.estado_civil %>
</p>

<p>
  <strong>Tipo de casa:</strong>
  <%= @beneficiario.tipo_de_casa %>
</p>

<p>
  <strong>Num habitaciones:</strong>
  <%= @beneficiario.num_habitaciones %>
</p>

<p>
  <strong>Num banos:</strong>
  <%= @beneficiario.num_banos %>
</p>

<p>
  <strong>Enseres:</strong>
  <%= @beneficiario.enseres %>
</p>

<p>
  <strong>Obs enseres:</strong>
  <%= @beneficiario.obs_enseres %>
</p>

<%= link_to 'Edit', edit_beneficiario_path(@beneficiario) %> |
<%= link_to 'Back', beneficiarios_path %>
