<%= simple_form_for(departamento) do |f| %>


<%= f.error_notification %>
<ul class="list-group ">
      <li class="list-group-item text-muted col-md-12" contenteditable="false"><i class="fa fa-database"></i> Datos<div class="pull-right text-warning">
         <i class="fa fa-asterisk"></i> Campo Obligatorio
      </div></li>
      <li class="list-group-item col-md-12">
<div class="form-inputs">
  <div class="col-md-12 <%='has-error' if @departamento.errors.keys.include?(:nombre) ==true %> <%='has-success' if (@departamento.errors.keys.include?(:nombre) ==false and @departamento.errors.any?)%>">
          <%= f.input :nombre, input_html: { class: 'form-control' } %>
  </div>


</div>
</li>
</ul>
</br>
<%= render 'layouts/botones', :f=>f, path: departamentos_path%>

<% end %>
