<br>
<%if p.length>0%>
<div class="table-responsive">

    <table class="table table-responsive table-hover table-condensed" style="font-size:11px;">
        <thead>
            <tr>
                <th class="text-center">Cédula</th>
                <th class="text-center">Nombre Completo</th>
                <th class="text-center">Fecha de nacimiento</th>
                <th class="text-center">Municipio</th>
                <th class="text-center">Dirección</th>
                <th class="text-center">Teléfono</th>
                <th class="text-center">Solicitudes</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>

        <tbody>
            <% @solicitantes.each do |solicitante| %>
            <tr>
                <td><%= $dic["tipo_de_cedula"].key(solicitante.tipo_cedula).to_s + "-" + solicitante.cedula.to_s %></td>
                <td class="text-capitalize text-center"><%= solicitante.nombres.downcase + " " +solicitante.apellidos.downcase %></td>
                <td class="text-center"><%= solicitante.fecha_de_nacimiento %></td>
                <td class="text-center"><%= $dic["municipios"].key(solicitante.municipios) %></td>
                <td class="text-capitalize"><%= solicitante.direccion.downcase%></td>
                <td class="text-center"><%= solicitante.telefono_fijo %></td>
                <td class="text-center">
                    <div class="btn-group btn-group-xs form-inline" role="group" aria-label="...">
                        <%= link_to raw('<i class="fa fa-plus"></i>'), new_solicitante_beneficiario_path(solicitante),class:"btn btn-default" %>
                        <%= link_to raw('<i class="fa fa-eye"></i>'), solcitantes_path(solicitante),class:"btn btn-success","data-toggle": "tooltip", "data-placement": "top", title: "Ver más" %></div>
                </td>
                <td class="text-center">
                    <div class="btn-group btn-group-xs form-inline" role="group" aria-label="...">
                        <%= link_to raw('<i class="fa fa-eye"></i>'), solicitante,class:"btn btn-success","data-toggle": "tooltip", "data-placement": "top", title: "Ver más" %>
                        <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_solicitante_path(solicitante),class:"btn btn-info","data-toggle": "tooltip", "data-placement": "top", title: "Editar elemento" %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
<%else%>
<div class="text-center">
    <h4>"No hay personas con esta cédula."</h4>
    <a href="<%= new_solcitante_path+"?cedula="+params[:search]%>" class="btn btn-default">Agregar solicitante</a>
</div>
<%end%>
