<%= simple_form_for([@solicitante, @beneficiario, @solicitud]) do |f| %>

  <%= f.error_notification %>

  <ul class="list-group ">
    <li class="list-group-item text-muted col-md-12" contenteditable="false"><i class="fa fa-database"></i> Datos<div class="pull-right text-warning">
      <i class="fa fa-asterisk"></i> Campo Obligatorio
        </div></li>
    <li class="list-group-item col-md-12">

      <div class="form-inputs">

        <div class="col-md-3">
          <%= f.label :status %>
          <%= f.select(:status , options_for_select($dic["status"],@solicitud.status),{:selected => "En Proceso"},class: "form-control" )  %>
        </div>

        <div class="col-md-5">
          <%= f.input :descripcion %>
        </div>

        <div class="col-md-4">
              <%if current_user.has_role? :discapacidad%>
              <%=f.association :ayuda, collection: Ayuda.where(departamento_id: 1).map, :label_method => lambda {|owner| "#{owner.nombre.capitalize} - #{owner.departamento.nombre.capitalize}"}, :include_blank => "Seleccione una ayuda...", input_html: { class: 'form-control' }  %>
              <%elsif current_user.has_role? :adultos%>
              <%=f.association :ayuda, collection: Ayuda.where(departamento_id: 2).map, :label_method => lambda {|owner| "#{owner.nombre.capitalize} - #{owner.departamento.nombre.capitalize}"}, :include_blank => "Seleccione una ayuda...", input_html: { class: 'form-control' }  %>
              <%elsif current_user.has_role? :ninos%>
              <%=f.association :ayuda, collection: Ayuda.where(departamento_id: 3).map, :label_method => lambda {|owner| "#{owner.nombre.capitalize} - #{owner.departamento.nombre.capitalize}"}, :include_blank => "Seleccione una ayuda...", input_html: { class: 'form-control' }  %>
              <%elsif current_user.has_role? :admin%>
              <%= f.association :ayuda, :label_method => lambda { |owner| "#{owner.nombre.capitalize} - #{owner.departamento.nombre.capitalize}" },  :include_blank => "Seleccione una ayuda...", input_html: { class: 'form-control' }  %>
              <%end%>
            <!--<%= f.association :ayuda, :label_method => lambda { |owner| "#{owner.nombre.capitalize} - #{owner.departamento.nombre.capitalize}" },  :include_blank => "Seleccione una ayuda...", input_html: { class: 'form-control' }  %> -->
        </div>

    </div>
  </li>
  </ul>

  <div class="col-md-12">
  </br>
  </div>
    <ul class="list-group">
          <li class="list-group-item text-muted col-md-12" contenteditable="false"><i class="fa fa-bars"></i> Acciones<div class="pull-right text-warning">
             <i class="fa fa-warning"></i> Revise los datos antes de guardar
          </div></li>
          <li class="list-group-item col-md-12 text-center">

              <button type="submit" name="button" class="btn btn-primary">
                <%= raw('<i class="fa fa-save"></i> Guardar') %>
              </button>
              <%if @solicitud.status.nil?%>
              <%= link_to raw('<i class="fa fa-arrow-left"></i> Regresar'), solicitante_beneficiario_path(params[:solicitante_id], params[:beneficiario_id]), id:"cerrar", class:"btn btn-default" %>
              <%else%>
              <%= link_to raw('<i class="fa fa-arrow-left"></i> Regresar'), solicitudes_path, id: "cerrar", class:"btn btn-default"%>
              <%end%>
              </br>
          </li>
    </ul>

    <script type="text/javascript">
      $('#cerrar').click(
        function (){
          window.close();
        });
    </script>


<%end%>
