<br>
<%if p.length>0%>
<div class="table-responsive">

    <table class="table table-responsive table-hover table-condensed" style="font-size:11px;">
        <thead>
            <tr>
                <th class="text-center">Cédula</th>
                <th class="text-center">Nombre Completo</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>

        <tbody>

            <% p.each do |beneficiario| %>
            <tr>
                <td><%= $dic["tipo_de_cedula"].key(beneficiario.tipo_cedula).to_s + "-" + beneficiario.cedula.to_s %></td>
                <td class="text-capitalize text-center"><%= beneficiario.nombres.downcase + " " +beneficiario.apellidos.downcase %></td>

                <div id="<%=beneficiario.id%>" class="modal style-modal text-center" style="display:none;">
                <!-- Inicio del contenido del modal -->

                  <header class="page-header">
                    <h2>
                      <i class="fa fa-user" style="font-size:55px"></i>
                      <b><%=beneficiario.nombres + " " + beneficiario.apellidos%></b>
                    </h2>
                    <h4>Solicitud(es):</h4>
                  </header>

                  <%beneficiario.solicitudes.each do |b|%>

                      <p class="margin-b capitalize" style="color:<%if b.status==2%><%="red"%><%else%><%if b.status==1%><%="green"%><%else%><%="blue"%><%end%><%end%>">
                        <b style="color:black">Estatus:</b>
                        <%=$dic["status"].key(b.status).to_s%>
                      </p>
                      <p class="margin-b capitalize" style="color:black">
                        <b>Solicitante:</b>
                        <%=b.solicitante.nombres+" "+b.solicitante.apellidos%>
                      </p>
                      <p class="margin-b capitalize" style="color:black">
                        <b>Ayuda:</b>
                        <%=b.ayuda.nombre%>
                      </p>
                      <p class="margin-b capitalize " style="color:black">
                        <b>Departamento:</b>
                        <%=b.ayuda.departamento.nombre%>
                      </p>
                      <p class="margin-b capitalize" style="color:<%if ((Time.now-b.created_at)/86400).to_i >=30%><%="red"%><%else%><%="green"%><%end%>">
                        <b style="color:black">Fecha:</b>
                        <%=b.created_at.strftime("%d/%m/%Y")%>
                      </p>
                      <p>---------------------------------------</p>
                  <%end%>

                <!-- Fin del contenido del modal -->
    						</div>
    					<td>
    							<a href="#<%=beneficiario.id%>" rel="modal:open">
    								<i class="fa fa-eye"></i>
    							</a>

					    </td>

            </tr>
            <% end %>
        </tbody>
    </table>
</div>
<%else%>
<div class="text-center">
    <h4>"No hay personas con esta cédula."</h4>
</div>
<%end%>
