<br>
<%if p.length>0%>
<div class="table-responsive" id="refresh">

    <table class="table table-responsive table-hover table-condensed" style="font-size:11px;" id="refresh2">

            <% p.each do |beneficiario| %>
            <tr class="text-center">
                  <table class="table table-responsive table-hover table-condensed">
                  <thead>
                    <tr>
                      <h2  style="text-align: -webkit-center;"><i class="fa fa-user" style="font-size:50px"></i> <%=beneficiario.nombres.capitalize + " " + beneficiario.apellidos.capitalize%></h2>
                    </tr>
                    <tr>
                      <h4 style="text-align: -webkit-center;"><%="#{$dic['tipo_de_cedula'].key(beneficiario.tipo_cedula)}-#{beneficiario.cedula}"%></h4>
                    </tr>
                    <tr>
                      <h4 style="text-align: -webkit-center;">Solicitud(es):</h4>
                    </tr>
                    <tr>
                        <th class="text-center">Estatus</th>
                        <th class="text-center">Solicitante</th>
                        <th class="text-center">Ayuda</th>
                        <th class="text-center">Departamento</th>
                        <th class="text-center">Descripción</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                  </thead>
                  <%beneficiario.solicitudes.each do |b|%>
                  <tbody class="text-center">
                      <tr>
                        <td>
                          <p class="margin-b capitalize" style="color:<%if b.status==2%><%="#DC3535"%><%else%><%if b.status==1%><%="#059C05"%><%else%><%if b.status==3%><%="#FF8700"%><%else%><%="#35ACDC"%><%end%><%end%><%end%>">
                            <%=$dic["status"].key(b.status).to_s%>
                          </p>
                        </td>
                        <td>
                            <%=b.solicitante.nombres+" "+b.solicitante.apellidos%>
                        </td>
                        <td>
                          <p class="margin-b capitalize" style="color:black">
                            <%=b.ayuda.nombre%>
                          </p>
                        </td>
                        <td>
                          <p class="margin-b capitalize " style="color:black">
                            <%=b.ayuda.departamento.nombre%>
                          </p>
                        </td>
                        <td>
                          <p class="margin-b capitalize " style="color:black">
                            <%=b.descripcion%>
                          </p>
                        </td>
                        <td>
                          <p class="margin-b capitalize">
                            <%=b.created_at.strftime("%d/%m/%Y")%>  <!-- style="color:<%if ((Time.now-b.created_at)/86400).to_i>=30%><%"red"%><%else%><%"green"%><%end%>" -->
                          </p>
                        </td>
                        <td>
                          <% if (current_user.has_role?:discapacidad and b.ayuda.departamento.nombre=="Discapacidad") or (current_user.has_role?:adulto and b.ayuda.departamento.nombre=="Adulto Mayor") or (current_user.has_role?:niños and b.ayuda.departamento.nombre=="Niños, niñas y adolescentes") or (current_user.has_role?:admin)%>
                          <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_solicitante_beneficiario_solicitud_path(b.solicitante.id, beneficiario.id, b.id), class:"btn1 btn btn-info","data-toggle": "tooltip", "data-placement": "top", title: "Editar solicitante" %>
                          <%end%>
                        </td>

                    <%end%>
                    </tr>
                  </tbody>
                </table>

            </tr>
            <% end %>
        </tbody>
    </table>
</div>
<%else%>
<div class="text-center">
    <h4>"No hay personas con esta cédula."</h4>
</div>
<%end%>
