<div class="col-md-12 page-header">
  <div class="pull-right">

  </div>
  <h1><i class="fa fa-paper-plane"></i> Solicitudes</h1>
</div>

<ul class="list-group">
      <li class="list-group-item text-muted col-md-12" contenteditable="false">Lista de solicitudes</li>
      <li class="list-group-item col-md-12">

<table class="table table-responsive table-hover table-condensed text-center " style="font-size:11px;">
  <thead>
    <tr>
      <th class="text-center">Beneficiario</th>
      <th class="text-center">Solicitante</th>
      <th class="text-center">Ayuda</th>
      <th class="text-center">Descripción</th>
      <th class="text-center">Estatus</th>
    </tr>
  </thead>

  <tbody>
    <% @solicitudes.each do |solicitud| %>
      <tr>

        <td><%= solicitud.beneficiario.nombres+" "+solicitud.beneficiario.apellidos%></td>
        <td><%= solicitud.solicitante.nombres+" "+solicitud.solicitante.apellidos%></td>
        <td><%= solicitud.ayuda.nombre %></td>
        <td><%= solicitud.descripcion %></td>
        <td><%= $dic["status"].key(solicitud.status).to_s%></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
