<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @solicitud.status %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @solicitud.descripcion %>
</p>

<p>
  <strong>Ayuda:</strong>
  <%= @solicitud.ayuda %>
</p>

<p>
  <strong>Relacion:</strong>
  <%= @solicitud.relacion %>
</p>

<%= link_to 'Edit', edit_solicitud_path(@solicitud) %> |
<%= link_to 'Back', solicitudes_path %>
