<div class="col-md-12 page-header">
  <div class="col-sm-10">
    <h2><i class="fa fa-user" style="font-size:60px"></i></h2>
  </div>

</div>

<!--
<br>
  <div class="col-md-12">
    <ul class="nav nav-pills nav-justified">
      <li role="presentation"><%=link_to raw('<i class="fa fa-arrow-circle-left"></i> Regresar'), solicitantes_path%></li>
      <li role="presentation"><%=link_to raw('<i class="fa fa-pencil"></i> Editar'), edit_solicitud_path(@solicitud)%></li>
      <li role="presentation"><%=link_to raw('<i class="fa fa-plus"></i> Nueva Solicitud'), new_solicitud_path(@solicitud)%></li>
    </ul>
  </div>

  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item text-muted" contenteditable="false">
        <i class="fa fa-user"></i> Perfil</li>


<p class="col-md-12">
  <br>
</p>

<p>
  <strong>Status:</strong>
  <%= $dic['status'].key(@solicitud.status.to_i) %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @solicitud.descripcion %>
</p>

<p>
  <strong>Ayuda:</strong>
  <%= @solicitud.ayuda.to_s %>
</p>

<p>
  <strong>Beneficiario:</strong>
  <#%= @solicitud.beneficiario.nombres+ %>
</p>

<p>
  <strong>Solicitante:</strong>
  <%= @solicitud.solicitante %>
</p>

<%= link_to 'Edit', edit_solicitud_path(@solicitud) %> |
<%= link_to 'Back', solicitudes_path %>

</ul>
</div> !-->


<table class="table table-responsive table-hover table-condensed" style="font-size:11px;">
    <thead>
        <tr>
            <th class="text-center">Ayuda</th>
            <th class="text-center">Fecha</th>
            <th class="text-center">Departamento</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>

    <tbody>
        <%beneficiario.each do |b|%>
        <tr>
            <td class="text-capitalize text-center"><%b.ayuda.nombre %></td>
            <td class="text-capitalize text-center"><%b.solicitante.nombre %></td>
            <td class="text-capitalize text-center"><%b.ayuda.departamento.nombre %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<%end%>
