<%= simple_form_for(ayuda) do |f| %>


<%= f.error_notification %>
<ul class="list-group ">
      <li class="list-group-item text-muted col-md-12" contenteditable="false"><i class="fa fa-database"></i> Datos<div class="pull-right text-warning">
         <i class="fa fa-asterisk"></i> Campo Obligatorio
      </div></li>
      <li class="list-group-item col-md-12">
<div class="form-inputs">

  <div class="col-md-6 <%='has-error' if @ayuda.errors.keys.include?(:nombre) ==true %> <%='has-success' if (@ayuda.errors.keys.include?(:nombre) ==false and @ayuda.errors.any?)%>">
    <%= f.input :nombre, input_html: { class: 'form-control' } %>
  </div>

  <div class="col-md-6 <%='has-error' if @ayuda.errors.keys.include?(:departamento_id) ==true %> <%='has-success' if (@ayuda.errors.keys.include?(:departamento_id) ==false and @ayuda.errors.any?)%>">
      <%= f.association :departamento, :label_method => lambda { |owner| "#{owner.nombre.capitalize}"},  :include_blank => "Seleccione un departamento...", input_html: { class: 'form-control' }  %>
  </div>

</li>
</ul>
  </br>
  <%= render 'layouts/botones', :f=>f, path: ayudas_path%>

</div>
<% end %>
