<div class="col-md-12 page-header">
  <div class="pull-right">

    <%= link_to raw('<i class="fa fa-plus"></i> Nueva Ayuda'), new_ayuda_path,class:"btn btn-success" %>
  </div>
  <h1><i class="fa fa-heart-o"></i> Ayudas</h1>
</div>

<ul class="list-group">
      <li class="list-group-item text-muted col-md-12" contenteditable="false">Lista de ayudas</li>
      <li class="list-group-item col-md-12">


<table class="table table-responsive table-hover table-condensed text-center " style="font-size:11px;">
  <thead>
    <tr>
      <th class="text-center">Nombre</th>
      <th class="text-center">Departamento</th>
      <th class="text-center">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @ayudas.each do |ayuda| %>
      <tr>
        <td class="text-capitalize"><%= ayuda.nombre %></td>
        <td class="text-capitalize"><%= ayuda.departamento.nombre %></td>
        <td><%= link_to raw('<i class="fa fa-pencil"></i>'), edit_ayuda_path(ayuda),class:"btn1 btn btn-info","data-toggle": "tooltip", "data-placement": "top", title: "Editar elemento" %>
        <%= link_to raw('<i class="fa fa-trash"></i>'), ayuda, method: :delete, data: { confirm: 'Are you sure?' },class:"btn1 btn btn-danger","data-toggle": "tooltip", "data-placement": "top", title: "Eliminar elemento" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
