<%= simple_form_for(@solicitante) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :cedula %>
    <%= f.input :tipo_cedula %>
    <%= f.input :nombres %>
    <%= f.input :apellidos %>
    <%= f.input :sexo %>
    <%= f.input :fecha_de_nacimiento %>
    <%= f.input :lugar_de_nacimiento %>
    <%= f.input :direccion %>
    <%= f.input :municipios %>
    <%= f.input :grado_de_instruccion %>
    <%= f.input :obs_instruccion %>
    <%= f.input :oficio %>
    <%= f.input :ingreso_mensual %>
    <%= f.input :obs_ingreso %>
    <%= f.input :empresa %>
    <%= f.input :carga_familiar %>
    <%= f.input :telefono_fijo %>
    <%= f.input :telefono_movil %>
    <%= f.input :estado_civil %>
    <%= f.input :correo %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
