<p id="notice"><%= notice %></p>

<h1>Solicitantes</h1>

<table>
  <thead>
    <tr>
      <th>Cedula</th>
      <th>Tipo cedula</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Sexo</th>
      <th>Fecha de nacimiento</th>
      <th>Lugar de nacimiento</th>
      <th>Direccion</th>
      <th>Municipios</th>
      <th>Grado de instruccion</th>
      <th>Obs instruccion</th>
      <th>Oficio</th>
      <th>Ingreso mensual</th>
      <th>Obs ingreso</th>
      <th>Empresa</th>
      <th>Carga familiar</th>
      <th>Telefono fijo</th>
      <th>Telefono movil</th>
      <th>Estado civil</th>
      <th>Correo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solicitantes.each do |solicitante| %>
      <tr>
        <td><%= solicitante.cedula %></td>
        <td><%= solicitante.tipo_cedula %></td>
        <td><%= solicitante.nombres %></td>
        <td><%= solicitante.apellidos %></td>
        <td><%= solicitante.sexo %></td>
        <td><%= solicitante.fecha_de_nacimiento %></td>
        <td><%= solicitante.lugar_de_nacimiento %></td>
        <td><%= solicitante.direccion %></td>
        <td><%= solicitante.municipios %></td>
        <td><%= solicitante.grado_de_instruccion %></td>
        <td><%= solicitante.obs_instruccion %></td>
        <td><%= solicitante.oficio %></td>
        <td><%= solicitante.ingreso_mensual %></td>
        <td><%= solicitante.obs_ingreso %></td>
        <td><%= solicitante.empresa %></td>
        <td><%= solicitante.carga_familiar %></td>
        <td><%= solicitante.telefono_fijo %></td>
        <td><%= solicitante.telefono_movil %></td>
        <td><%= solicitante.estado_civil %></td>
        <td><%= solicitante.correo %></td>
        <td><%= link_to 'Show', solicitante %></td>
        <td><%= link_to 'Edit', edit_solicitante_path(solicitante) %></td>
        <td><%= link_to 'Destroy', solicitante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solicitante', new_solicitante_path %>
