<div class="col-md-12 page-header">
  <div class="col-sm-10">
    <h2><i class="fa fa-user" style="font-size:50px;"></i><%= (+ "  " + @solicitante.nombres + " " + @solicitante.apellidos).upcase%></h2>
  </div>

</div>
<br>
  <div class="col-md-12">
    <ul class="nav nav-pills nav-justified">
      <li role="presentation"><%=link_to raw('<i class="fa fa-arrow-circle-left"></i> Regresar'), solicitantes_path%></li>
      <li role="presentation"><%=link_to raw('<i class="fa fa-pencil"></i> Editar'), edit_solicitante_path(@solicitante)%></li>
      <li role="presentation"><%=link_to raw('<i class="fa fa-plus"></i> Nuevo Beneficiario'), new_solicitante_beneficiario_path(@solicitante)%></li>
    </ul>
  </div>

<p class="col-md-12">
  <br>
</p>
<div class="col-md-6">
  <ul class="list-group">
    <li class="list-group-item text-muted" contenteditable="false">
      <i class="fa fa-user"></i> Perfil</li>

    <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Cédula</strong>
      </span>
      <td><%= $dic["tipo_de_cedula"].key(@solicitante.tipo_cedula).to_s + "-" + @solicitante.cedula.to_s %></td>
    </li>


     <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Estado Civil</strong>
      </span>
      <%= $dic["estado"].key(@solicitante.estado_civil).to_s %>
     </li>

     <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Sexo</strong>
      </span>
      <%= $dic["sexo"].key(@solicitante.sexo).to_s %>
     </li>

     <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Fecha de Nacimiento</strong>
      </span>
      <%= @solicitante.fecha_de_nacimiento.strftime("%d-%m-%Y")%>
     </li>

     <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Lugar de Nacimiento</strong>
      </span>
      <%= @solicitante.lugar_de_nacimiento.capitalize %>
     </li>

     <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Dirección</strong>
      </span>
      <%= @solicitante.direccion.capitalize %>
     </li>

     <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Municipio</strong>
      </span>
      <%= $dic["municipios"].key(@solicitante.municipios).to_s %>
     </li>

     <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Grado de Instrucción</strong>
      </span>
      <%= $dic["grado"].key(@solicitante.grado_de_instruccion).to_s %>
     </li>

     <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Observación</strong>
      </span>
      <%= @solicitante.obs_instruccion.capitalize %>
      <br>
     </li>

     <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Profesión/Oficio</strong>
      </span>
      <%= @solicitante.oficio %>
     </li>

     <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Ingreso Mensual</strong>
      </span>

      <%= number_to_currency(@solicitante.ingreso_mensual, unit: "", separator: ",", delimiter: ".", format: "%n %u") %>
     </li>

     <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Observación</strong>
      </span>
      <%= @solicitante.obs_ingreso.capitalize %>
      <br>
     </li>

     <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Empresa</strong>
      </span>
      <%= @solicitante.empresa.capitalize %>
    </br>
     </li>

     <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Carga Familiar</strong>
      </span>
      <%= @solicitante.carga_familiar.to_s %>
     </li>

     <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Teléfono Fijo</strong>
      </span>
      <%= @solicitante.telefono_fijo %>
      <br>
     </li>

     <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Teléfono Móvil</strong>
      </span>
      <%= @solicitante.telefono_movil %>
      <br>
     </li>

     <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Correo Electrónico</strong>
      </span>
      <%= @solicitante.correo %>
      <br>
     </li>
   </ul>
</div>
   <% if @solicitante.beneficiarios.length>0 %>
   <div class="col-md-6">
   <ul class="list-group">
     <li class="list-group-item text-muted" contenteditable="false"><i class="fa fa-users"></i> Beneficiario (os)</li>
     <li class="list-group-item">
       <table class="table table-hover table-condensed text-center">
         <thead>
           <tr>
             <th class="actions text-center" style="width:16%;">Cédula</th>
             <th class="actions text-center">Nombres</th>
             <th class="actions text-center" style="width:17%;">Fecha de Nacimiento</th>
             <th class="actions text-center" style="width:10%;">Sexo</th>
             <th class="actions text-center" style="width:10%;">Acciones</th>
           </tr>
         </thead>

         <tbody>
           <%@solicitante.beneficiarios.each do |beneficiario|%>
           <tr>
             <td><%="#{$dic['tipo_de_cedula'].key(beneficiario.tipo_cedula)}-#{beneficiario.cedula}"%></td>
             <td class="text-capitalize"><%="#{beneficiario.nombres} #{beneficiario.apellidos}"%></td>
             <td><%=beneficiario.fecha_de_nacimiento.strftime("%d-%m-%Y")%></td>
             <td><%=$dic["sexo"].key(beneficiario.sexo.to_i)%></td>
             <td><%= link_to raw('<i class="fa fa-eye"></i>'), solicitante_beneficiario_path(@solicitante, beneficiario),class:"btn1 btn btn-success" %></td>
           </tr>
           <%end%>
         </tbody>

       </table>
     </li>
   </ul>
   </div>
   <%else%>
   <div class="text-center col-md-6">
   <ul class="list-group">
     <li class="list-group-item text-muted text-left" contenteditable="false">
       <i class="fa fa-comment-o"></i>
       Mensaje</li>
     <li class="list-group-item"></br>
     <i class="fa fa-user-times fa-4x" style="color:#24A5FF;"></i>
     <h2>El solicitante no tiene beneficiarios.</h2>
   </li>
   </ul>
   </div>
   <%end%>
</div>
