<p id="notice"><%= notice %></p>

<p>
  <strong>Cedula:</strong>
  <%= @solicitante.cedula %>
</p>

<p>
  <strong>Tipo cedula:</strong>
  <%= @solicitante.tipo_cedula %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @solicitante.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @solicitante.apellidos %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @solicitante.sexo %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @solicitante.fecha_de_nacimiento %>
</p>

<p>
  <strong>Lugar de nacimiento:</strong>
  <%= @solicitante.lugar_de_nacimiento %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @solicitante.direccion %>
</p>

<p>
  <strong>Municipios:</strong>
  <%= @solicitante.municipios %>
</p>

<p>
  <strong>Grado de instruccion:</strong>
  <%= @solicitante.grado_de_instruccion %>
</p>

<p>
  <strong>Obs instruccion:</strong>
  <%= @solicitante.obs_instruccion %>
</p>

<p>
  <strong>Oficio:</strong>
  <%= @solicitante.oficio %>
</p>

<p>
  <strong>Ingreso mensual:</strong>
  <%= @solicitante.ingreso_mensual %>
</p>

<p>
  <strong>Obs ingreso:</strong>
  <%= @solicitante.obs_ingreso %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @solicitante.empresa %>
</p>

<p>
  <strong>Carga familiar:</strong>
  <%= @solicitante.carga_familiar %>
</p>

<p>
  <strong>Telefono fijo:</strong>
  <%= @solicitante.telefono_fijo %>
</p>

<p>
  <strong>Telefono movil:</strong>
  <%= @solicitante.telefono_movil %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @solicitante.estado_civil %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @solicitante.correo %>
</p>

<%= link_to 'Edit', edit_solicitante_path(@solicitante) %> |
<%= link_to 'Back', solicitantes_path %>
